@import '~@fluentui/react/dist/sass/References.scss';

.textoimg {
  width: 100%;
  margin: 0;
  box-sizing: border-box;
  padding-left: 20px;
  overflow: hidden;
  //line-height: 0; // Remove espaços vazios abaixo da imagem

  .contentArea {
    width: 100%;
    margin: 0;
    padding: 0;
    height: auto;

    div {
      line-height: normal; // Garante que o container da imagem não tenha altura extra
    }

    img {
      // Começa com 100% (para celulares)
      width: 100%; 
      max-width: 100%;
      height: auto;
      display: block;
      padding-top: 15px;

      // Se a tela for maior que 768px (Tablets e PCs), muda para 30%
      @media (min-width: 768px) {
        padding-top: 25px;
        width: 30%;
        margin-left: 20px;
      }
    }
  }
}

.mainTitle {
  font-size: 48px;  /* Ajuste este valor para ficar do tamanho que deseja */
  font-weight: 700; /* Deixa em negrito */
  margin-bottom: 20px; /* Dá um espaço para o conteúdo de baixo */
  color: inherit; /* Usa a cor padrão do tema, ou coloque uma cor fixa ex: #333 */
}